Package: openmuc-driver-csv
Version: 0.18.2
Section: base
Priority: optional
Architecture: armhf
Depends: openmuc
Maintainer: Adrian Minde <adrian.minde@isc-konstanz.de>
Description: OpenMUC CSV driver package 
