Package: <package>
Priority: optional
Section: contrib/electronics
Version: <version>
Architecture: all
Depends: openmuc-datalogger
Build-Depends: debhelper (>= 9)
Homepage: <homepage>
Vcs-Browser: <repository>
Vcs-Git: <repository>.git
Description: <description>
