Package: openmuc-driver-modbus
Version: 0.18.2
Section: base
Priority: optional
Architecture: armhf
Depends: openmuc-lib-rxtx
Maintainer: Adrian Minde <adrian.minde@isc-konstanz.de>
Description: OpenMUC driver-modbus