Package: openmuc
Version: 0.18.2
Section: base
Priority: optional
Architecture: armhf
Depends: openmuc-core, git-core, build-essential, python3
Maintainer: Adrian Minde <adrian.minde@isc-konstanz.de>
Description: openmuc package 