Package: <package>
Priority: optional
Section: contrib/electronics
Version: <version>
Architecture: all
Depends: openmuc-core-api, openmuc-lib-gson
Build-Depends: debhelper (>= 9)
Maintainer: <maintainer>
Homepage: <homepage>
Vcs-Browser: <repository>
Vcs-Git: <repository>.git
Description: <description>
