Package: openmuc-lib-gson
Version: 0.18.2
Section: base
Priority: optional
Architecture: armhf
Depends: openmuc 
Maintainer: Adrian Minde <adrian.minde@isc-konstanz.de>
Description: OpenMUC Gson package 